* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.container {
  width: 60vw;

  height: 100vh;
  height: fit-content;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  flex-direction: column;
  position: relative;
  padding-bottom: 20px;
}

.container::after {
  content: "";
  clip-path: polygon(25% 17%, 100% 17%, 100% 85%, 21% 86%, 59% 53%);
  width: 7vw;
  height: 12vh;
  background-color: rgb(210, 143, 240);
  position: absolute;
  top: -0.8%;
  right: 0;
}

.container::before {
  content: "";
  clip-path: polygon(82% 14%, 40% 53%, 79% 87%, 0 86%, 0 14%);
  width: 7vw;
  height: 12vh;
  background-color: rgb(210, 143, 240);
  position: absolute;
  bottom: -0.7%;
  left: 0;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 3em;

  width: 40vw;
  height: 40vh;
}

.heading {
  padding: 10px 30px;
  margin-bottom: 30px;
  background-color: rgb(210, 143, 240);
  border-radius: 10px;
  color: white;
  font-size: large;
}

@media screen and (max-width: 463px) {
  .container::before,
  .container::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .heading,
  .team-container h3 {
    font-size: medium;
  }
  .heading-container p,
  .icon-container p {
    font-size: small;
  }
  .team-container {
    margin-top: 10vh;
  }
}
.heading-container p {
  text-align: center;
  padding-bottom: 2em;
  border-bottom: rgb(210, 143, 240) dashed 3px;
}

.team-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-container h5 {
  padding: 10px;
  margin: 4vh;
  border-radius: 10px;
  background-color: rgb(210, 143, 240);

  color: white;
}
.twoicons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8vw;
  margin-bottom: 20px;
}

.icon-container img {
  width: 10vh;
}

.icon-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icon-container h6 {
  font-size: 16px;
}
.threeicons {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.development-team {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}
.development-team h4 {
  padding: 10px;
  margin: 4vh;
  border-radius: 10px;
  background-color: rgb(210, 143, 240);

  color: white;
}

.development-team::before {
  content: "";
  clip-path: polygon(82% 14%, 40% 53%, 79% 87%, 0 86%, 0 14%);
  width: 7vw;
  height: 12vh;
  background-color: rgb(210, 143, 240);
  position: absolute;
  top: 0;
  left: 0;
}
.dev-threeicons {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}

.sales-team {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}
.sales-team h4 {
  padding: 10px;
  margin: 4vh;
  border-radius: 10px;
  background-color: rgb(210, 143, 240);

  color: white;
}

.sales-team::after {
  content: "";
  clip-path: polygon(25% 17%, 100% 17%, 100% 85%, 21% 86%, 59% 53%);
  width: 7vw;
  height: 12vh;
  background-color: rgb(210, 143, 240);
  position: absolute;
  top: 0;
  right: 0;
}

.icon-container p {
  color: rgb(210, 143, 240);
  text-align: center;
  max-width: 10vh;
}
